.advantages-item {
  position: relative;
  padding-left: 85px;
  display: flex;
  align-items: center;

  &__title {
    font-family: @font-futura;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
  }
  &__text-wrap {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #757575;
  }

  &__descr {
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    .sprite;

  // &:before {
  //   content: '';
  //   width: 40px;
  //   height: ;
  // }

    &--like {
      .sprite-adv-like;
    }
    &--bus {
      .sprite-adv-bus;
    }
    &--calendar {
      .sprite-adv-calendar
    }
    &--ski{
      .sprite-adv-ski 
    }
    &--helmet{
      .sprite-adv-snowboard-helmet 
    }
    &--certificate{
      .sprite-adv-certificate 
    }
  }
}