.advantages-item {
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-min) {
    position: static;
    flex-direction: column;
    margin: 0;
    width: 30%;
    text-align: center;
    padding-left: 0;
  }

  &__title {
    font-family: @font-futura;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;

    @media (min-width: @tablet-min) {
      line-height: 14px;
    }

    @media (min-width: @desktop-min) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__text-wrap {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #757575;

    @media (min-width: @tablet-min) {
      text-align: left;
      color: #000;
      line-height: 14px;
    }

    @media (min-width: @desktop-min) {
      font-size: 15px;
      line-height: 22px;
    }
  }

  &__descr {

    @media (min-width: @tablet-min) {
      display: flex;
      flex-direction: column;
    }
  }
  
  &__icon {
    position: relative;
    min-width: 100px;
    margin: auto;

    @media (min-width: @tablet-min) {
      display: flex;
      align-items: center;
      height: 80px;
      margin: 0;
    }

    &:before {
      content: '';
      .sprite;
      margin: 0 auto;
    }

  // &:before {
  //   content: '';
  //   width: 40px;
  //   height: ;
  // }

    &--like {

      &:before {
        .sprite-adv-like;
      }
    }
    &--bus {

      &:before {
        .sprite-adv-bus;
      }
    }
    &--calendar {

      &:before {
        .sprite-adv-calendar;
      }
    }
    &--ski{

      &:before {
        .sprite-adv-ski;
      }
    }
    &--helmet{

      &:before {
      .sprite-adv-snowboard-helmet;
      }
    }
    &--certificate{
      &:before {
      .sprite-adv-certificate;
      }
    }
  }
}