.btn{
  display: inline-block;
  border: 3px solid #000;
  background-color: transparent;
  font-family: @font-futura;
  text-transform: uppercase;
  color: #74e196;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding: 15px;

  &--schedule {
    margin-top: 50px;
    align-self: center;
    border-color: #74e196;
    color: #000;
  }
  &--schedule-buy {
    border: 2px solid #000;
    padding: 15px 30px;
  }
  &--schedule-submit {
    margin: 20px auto;
  }
  &-border-color {
    display: none;
    border-color: #fff;

    @media (min-width: @tablet-min) {
      padding: 15px 30px;
      margin-top: 50px;
      display: block;
    }
  }
  
  &--team {
    position: relative;
    z-index: 1;
    display: flex;
    margin: 20px auto;
  }
}