.burger {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  
  @media (min-width: @desktop-min) {
    display: none;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #000;
    transition: all .3s ease;
  }

  &.is-scroll {
    &:before,
    &:after {
      background-color: #000;
    }

    span {
      &:before,
      &:after {
        background-color: #000;
      }
    }
  }
  
  &:before {
    top: 0;
    left: 0;
  }
  
  &:after {
    bottom: 0;
    right: 0;
  }
  
  span {
    display: block;
    width: 100%;
    height: 100%;
    
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 4px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 2px;
      background-color: #000;
      transition: all .3s ease;
    }
  }
  
  &.is-open:before {
    left: 100%;
    opacity: 0;
    background-color: #000;
  }
  
  &.is-open:after {
    right: 100%;
    opacity: 0;
    background-color: #000;
  }
  
  &.is-open {
    span:before {
      transform: rotate(225deg);
      background-color: #000;
    }
    span:after {
      transform: rotate(135deg);
      background-color: #000;
    }
  }
}

.burger--main-page {
  &:before,
  &:after {
    background-color: #fff;
  }

  span {
    &:before,
    &:after {
      background-color: #fff;
    }
  }
}
