.call-back {

  &__wrap {
    padding: 0 15px;
  }
  &__title {
    margin: 0 auto;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    line-height: 24px;
    font-family: @font-futura;
  }
}

.call-back-form {
  display: flex;
  flex-direction: column;
}
