.instructor-info {


  &__title {
    margin: 0 auto;
    font-weight: 700;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    font-family: @font-futura;
  }

  &__desc {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #757575;
    font-size: 12px;
    line-height: 12px;
  }

  &__exp {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #757575;
    font-size: 12px;
    line-height: 12px;
  }

  &__plus {
    margin: 0;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #757575;
    font-size: 12px;
    line-height: 12px;
  }

  &__visual {
    position: relative;
    padding-top: 20px;
  }

  iframe {
    display: block;
  }
}