.instructors-menu {
  padding: 0;
  margin: 0 auto;
  display: flex;
  overflow-x: scroll;

  @media (min-width: @tablet-min) {
    max-width: 1160px;
  }

  @media (min-width: @desktop-min) {
    justify-content: center;
  }


  @media (min-width: @desktop-min) {
    justify-content: center;
    max-width: 1160px;
  }

  &__item {
    list-style-type: none;
    position: relative;
  }

  &__link {
    overflow: hidden;
    position: relative;
    display: block;


    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, .2);
    }

    &:hover:before {
      background-color: transparent;
    }

    &:active:before {
      background-color: rgba(116, 225, 160, .2);
    }

    &:hover .instructors-menu__name {
      bottom: -80px;
    }
  }

  &__img {
    display: block;
    object-fit: cover;
  }

  &__name {
    display: block;
    width: 40px;
    position: absolute;
    padding-left: 10px;
    bottom: 0;
    padding-bottom: 10px;
    text-align: center;
    font-family: @font-futura;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 23px;
    transition: all 1s ease;
  }
}