.instructors {

  @media (min-width: @desktop-min) {
    padding: 0 60px;
  }

  &__tab-wrap{
    padding-top: 5px;

    @media (min-width: @tablet-min) {
      padding-top: 20px;
      box-sizing: border-box;
    }
  }

  &__title {
    padding: 50px 15px 0 15px;
    margin: 0 auto;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    line-height: 24px;
    font-family: @font-futura;

    @media (min-width: @tablet-min) {
      text-align: center;
    }
  }

  &__search {
    padding: 15px;
    text-align: center;
    }

  &__search-form {
    display: block;
    width: 100%;
    border: 1px solid #000;
    position: relative;
    display: flex;
    align-items: center;

  }
  input {
    border: none;
  }

  &__search-btn {
    position: absolute;
    padding: 7px;
    right: 0;
    background-color: transparent;
    cursor: pointer;
  }
    


  &__title-rewiew {
    text-align: center;
    font-weight: 700;
    margin: 10px;
    color: #000;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;

    @media (min-width: @tablet-min) {
      display: none;
    }
  }
  &__row {
    width: 100%;
    height: 225px;
    background-position: 0% 50%;
    background-size: cover;
    background-image: url("../images/bg-rewiew.jpg");

    @media (min-width: @tablet-min) {
      margin: 20px 0;
    }
  }
}

