.logo {
  display: none;
  width: 160px;

  @media (min-width: @desktop-min) {
  display: block;
  }

  &__img {
    display: block;
  }

  &__black {
    width: 100%;
    @media (min-width: @desktop-min) {
    }
  }
  
  &--footer {
    display: inline-block;
    width: 65px;

    @media (min-width: @desktop-min) {
      width: 160px;
    }
  }
}


.logo-mob {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 65px;

  @media (min-width: @desktop-min) {
    display: none;
  }
  &__img {
    width: 100%;
    display: block;
  }
}

