.main-nav {
  float: left;
  width: 600px;
  margin: 36px 0;
  vertical-align: middle;
  box-sizing: border-box;

&__list{

}
&__item {
  display: inline-block;
  margin:0 10px;
}
&__link {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-size: 15px;
  font-family: @font-futura;
}
}