/*footer*/
.page-footer{
  text-align: center;
  padding: 50px 0;
  position: relative;
  text-align: center;
  background-image: url("../images/bg-footer__mobile.jpg");
  background-size: cover;
  background-position: 80% center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-min) {
    background-image: url("../images/bg-footer__tablet.jpg");
    background-position: right top;
  }

  @media (min-width: @desktop-min) {
    background-size: cover;
    background-repeat: no-repeat;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid rgba(255, 255, 255, .5);
  }

  &__wrap {
    position: relative;
    @media (min-width: @desktop-min) {
    overflow: hidden;
    width: 1160px;
    margin: 0 auto;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto; 

    @media (min-width: @desktop-min) {
      align-items: flex-end;
      margin: 0;
    }
  }
  &__phone {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    color: #000;
    font-family: @font-futura;
  }
  &__mail {
    font-family: @font-futura;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    line-height: 35px;
  }
  &__row {

    @media (min-width: @desktop-min) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--bottom {

      @media (min-width: @desktop-min) {
          align-items: flex-end;
      }
    }
  }

  &__copyright {
    padding: 50px;

    @media (min-width: @desktop-min) {
      padding: 0;
      width: 30%;
      text-align: left;
    }
  }
  &__copyright-text {
    font-family: @font-futura;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;

    @media (min-width: @desktop-min) {
      font-size: 15px;
      line-height: 22px;
    }
  }
}