/*header*/
.page-header{

  &__inner {
    overflow: hidden;
    width: 1160px;
    margin: 0 auto;
  }
  &__contacts {
    float: right;
    width: 400px;
  }
  &__phone{
    float: left;
    margin: 48px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000;
    font-family: @font-futura;
  }
}