/*footer*/
.page-footer{
  min-height: 300px;
  background-image: url("../images/bg-footer.jpg");
  &__wrap {
    overflow: hidden;
    width: 1160px;
    margin: 0 auto;
  }
  &__phone {
    text-decoration: none;
    color: #000;
  }
  &__mail {
    text-decoration: none;
    color: #000;
  }
}