/*header*/
.page-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;

  @media (min-width: @desktop-min) {
    position: static;
    padding: 37px 0;
  }


  &__drop {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    background-color: #fff;

    @media (min-width: @desktop-min) {
      padding: 0;
      position: static;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;

    @media (min-width: @desktop-min) {
      width: @content-desktop;
      margin: 0 auto;
      align-items: center;
      padding: 10px 0;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 

    @media (min-width: @desktop-min) {
      flex-direction: row;
      margin: 0;
      margin-right: 20px;
    }
  }
  &__phone {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    color: #000;
    font-family: @font-futura;
  }
  &__mail {
    font-family: @font-futura;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    line-height: 35px;

    @media (min-width: @desktop-min) {
      display: none;
    }
  }
}