.program {
  margin-top: 100px;

  &__wrap{
    padding: 15px;
  }

  @media (min-width: @desktop-min) {
    margin: 0 auto;
    width: @content-desktop;
  }

  &__title{
    margin: 0 auto;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    line-height: 24px;
    font-family: @font-futura;

    @media (min-width: @tablet-min) {
      text-align: center;
    }
  }
}
.program-form {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-min) {
    display: none;
  }
}

input {
  border: 2px solid #000;
  padding: 10px;
}
textarea {
  border: 2px solid #000;
  padding: 10px;
}
label {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    padding: 5px 0;
  }
