.program {
  margin-top: 100px;

  &__wrap{
    padding: 15px;
  }

  &__title{
    margin: 0 auto;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    line-height: 24px;
    font-family: @font-futura;

    @media (min-width: @tablet-min) {
      text-align: center;
    }
  }
}
.program-form {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-min) {
    display: none;
  }


}
label {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
  }
