.sale {
  display: flex;
  color: #fff;
  min-height: 360px;
  background-image: url("../images/bg-sale.jpg");
  background-position: center bottom;
  background-size: cover;

  &__container{
    margin:0 auto; 
    padding-top: 20px;
    min-width: 95%;
    min-height: 95%;
    background-color: rgba(0,0,0,.5);

    @media (min-width: @desktop-min) {
    display: none;
  }
  }
  &__wrap {
    min-width: @content-mobile;
    margin: 0 auto;
    min-width: 360;


    @media (min-width: @desktop-min) {
      width: @content-desktop;
    }
  }
  &__title {
    margin:0 auto;
    font-family: @font-futura;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
}