.sale {
  text-align: center;
  color: #fff;
  min-height: 360px;
  background-image: url("../images/bg-sale.jpg");
  background-position: center bottom;
  background-size: cover;
&__wrap {
  width: 1160px;
  margin: 0 auto;
}
&__wrap-item:after {
  content: '';
  display: block;
  clear:both;
}
}