.services-type {
  position: relative;
  float: left;
  overflow: hidden;
  width: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;

  @media (min-width: @tablet-min) {
    display: block;
    padding: 0 5px;
  }

  &--one {
    @media (max-width: (@tablet-min - 1)) {
      height: 166px;
    }
    @media (min-width: @desktop-min) {
      width: 33.33%;
    }
  }
  &--two {
    @media (max-width: (@tablet-min - 1)) {
      height: 83px;
    }
    @media (min-width: @desktop-min) {
      width: 66.66%;
    }
  }

  &--three {

    @media (min-width: @tablet-min) {
      display: none;
    }
    @media (min-width: @desktop-min) {
      display: block;
      width: 66.66%;
    }
    @media (max-width: (@tablet-min - 1)) {
      height: 83px;
    }
  }

  &__visual {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @media (min-width: @tablet-min) {
      position: static; 
    }
    @media (min-width: @desktop-min) {
      float: left;
    }

    &--two {

      @media (min-width: @desktop-min) {
        width: 50%;
      }
    }
    &--three {

      @media (min-width: @desktop-min) {
        width: 50%;
      }
    }
  }
  &__img {
    // background-size: cover;
    // background-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (min-width: @tablet-min) {
      position: static;
      height: 290px;
    }
  }

  &__info {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: flex-end;

    @media (min-width: @tablet-min) {
      display: block;
      position: static;
    }
    @media (min-width: @desktop-min) {
      float: left;
    }
  }

  &__title {
    color: #fff;
    font-family: @font-futura;
    font-weight: 700;
    font-size: 14px;

    @media (min-width: @tablet-min) {
      color: #000;
      font-size: 20px;
    }
  }

  &__text-wrap {
    display: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;

    @media (min-width: @tablet-min) {
      display: block;

    }
  }

  &__footer {
    width: 50px;
    @media (min-width: @tablet-min) {
      width: 100%;
    }

    @media (min-width: @tablet-min) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__period {
    display: none;
    font-family: @font-futura;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    @media (min-width: @tablet-min) {
      display: block;
    }
  }
  &__arrow {
    .sprite;
    .sprite-arrow-right-services
  }
}