.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  &__item {
    list-style-type: none;
    padding: 10px;
  }

  &__link {
  .sprite
  }
  &__link--yt {
  .sprite-social-youtube
  }
  &__link--insta {
    .sprite-social-instagram
  }
  &__link--fb {
  .sprite-social-facebook
  }
  &__link--vk {
    .sprite-social-vk
  }
}