.team {
  text-align: center;
  min-width: @mobile-min;
  color: #000;

  @media (min-width: @desktop-min) {
    min-height: 640px;
  }

  @media (min-width: @desktop-min) {
  }
  
  &__wrap {
    position: relative;

    @media (min-width: @tablet-min) {
    }

    // @media (min-width: @desktop-min) {
    //   width: @content-desktop;
    //   justify-content: flex-end;
    //   align-items: center;
    // }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-image: linear-gradient(to bottom, transparent 30%, rgba(255, 255, 255, 0.9) 80%);
      }
  }
  &__content-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      min-height: 440px;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;

      @media (min-width: @tablet-min) {
        min-height: 600px;
        padding-bottom: 20px;
      }

      @media (min-width: @desktop-min) {
        min-height: 800px;
        padding-bottom: 20px;
      }
  }

  &__title {
    font-family: @font-futura;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;

    @media (min-width: @desktop-min) {
      font-size: 40px;
      line-height: 35px;
    }
  }

  &__text {
    display: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;

    @media (min-width: @tablet-min) {
      display: block;
      width: 70%;
      z-index: 3;
    }

    @media (min-width: @desktop-min) {
      padding-bottom: 50px;
      width: 60%;
      position: relative;
      z-index: 1;
      display: block;
    }

  }

}